html {
    font-family: 'Noto Serif', serif;
    font-size: 10px;
}
:root {
    --primary-color:rgb(22, 61, 96);
    --secondary-color:#B69F84;
    --shade-color:#ECEAE5;
    --reset-color:#F5F5F5;
    --font-weight: bold;
    --border-radius: 2px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}
.content-center {
    margin: 0 auto;
    width: 80%;
}
a {
    text-decoration: none;
}

footer {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
}
.footer {
    display: flex;
    flex-direction: column;
}
.subscribe{
    display: flex;
    flex-direction: column;
}
.subscribe h1 {
    font-size: 3.7rem;
    color: var(--reset-color);
    margin:4rem 0 .5rem 0;
    text-align: center;
}
.subscribe p {
    font-size: 1.6rem;
    color: grey;
    text-align: center;
    margin-bottom: 2rem;
}
.subscribe-input {
    position: relative;
    padding-bottom: 7rem;
    border-bottom: 2px solid rgb(156, 151, 151);
}
#search {
    width: 50%;
    background-color: var(--reset-color);
    border: none;
    margin-left: 21%;
    border-radius: 3px;
}
.btn-sub{
    position: absolute;
    text-align: center;
    right: 21%;
    border: 2px solid var(--reset-color);
    padding: .43em 1em;
    background-color: #B69F84;
    color: var(--reset-color);
    border-radius: 3px;
    cursor: pointer;
}





.info {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    padding-top: 4rem;
}
.info-table {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.info-table h3 {
    color: white;
}
.info-table p {
    color: rgb(189, 184, 184);
}