html {
    font-family: 'Noto Serif', serif;
    font-size: 10px;
    scroll-behavior: smooth;
}
:root {
    --primary-color:rgb(22, 61, 96);
    --secondary-color:#B69F84;
    --shade-color:#ECEAE5;
    --reset-color:#F5F5F5;
    --font-weight: bold;
    --border-radius: 2px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}
.content-center {
    margin: 0 auto;
    width: 80%;
}
a {
    text-decoration: none;
}

.kurset-grid {
    width: 80%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 4%;
    row-gap: 8%;
    position: absolute;
    left: 10%;
    bottom: -70%;
}
.kurset {
    padding: 1rem;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    background-color: var(--reset-color);
    border-radius: 3px;
    row-gap: 1.2rem;
}

.kurset-img{
    width: 100%;
    height: 50%;
    border-radius: 3px;
}

.kurset-description{
    color: grey;
    margin-bottom: 0%;
}
.kurset-headline{
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0%;

}

.cmimi{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 0%;

}

.footer-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kurset-title {
    position: absolute;
    bottom: -140%;
    margin-bottom: 0%;

}
.kurset-title h2 {
    color: var(--primary-color);
    font-size: 3.7rem;
    margin-bottom: 0px; 
    margin-bottom: 0%;
 
}
.kurset-title p {
    color: grey;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.news {
    width: 100%;
    height: 125vh;
    background-color: var(--shade-color);
}

.events {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.event-title {
    align-self: center;
    justify-self: center;
}
.event-title h1 {
    font-size: 3.7rem;
    color: var(--primary-color);
    margin-bottom: 0%;
}
.event-title p{
    font-size: 1.6rem;
    color: grey;
    text-align: center;
    margin-bottom: 1.5rem;
}
.event-container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    column-gap: 2rem;
}
.n-event {
    width: 30%;
    padding: 1em;
}
.event-img{
    width: 100%;
    height: 70%;
    border-radius: 3px;
}

.event-l {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.event-m, .event-r {
    box-shadow: 0px 4px 8px rgb(236, 235, 235);
}

.sub-event {
    display: flex;
    border: 1px solid rgb(236, 235, 235);
    box-shadow: 0px 4px 4px rgb(236, 235, 235);
    border-radius: 3px;
    padding: .5em;
}

.koha {
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 3px;
}
.koha h3, p{
    margin: 0;
    padding: 0.1em;
    color: var(--reset-color);
}

.s-e-des {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.5em;
}
.s-e-t {
    color: var(--primary-color);
    font-weight: 600;
}

.s-e-des p:last-child {
    color: #808080;
}
.date-container {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.date {
    display: flex;
    justify-content: space-between;
}

.text-desc{
    color: grey;
}
.header-desc {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0%;
}


.pagination {
    position: absolute;
    left: 25%;
    bottom: -45%;
    z-index: 6;
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 1rem;
}
.pagination .pages {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: grey;
}
.pages:nth-child(2) {
    background-color: var(--primary-color);
}